@font-face {
  font-family: "BrandFont";
  src: url(../Fonts/PlayfairDisplay-VariableFont_wght.ttf);


}

*{
    font-family: "BrandFont";
}

body {
  margin: 0;
  padding: 0;
}

nav {
  /* background: #a2761c;
background: linear-gradient(130deg,#a2761c 0%, #765432 80%);
background: -webkit-linear-gradient(130deg,#a2761c 0%, #765432 80%);
background: -moz-linear-gradient(130deg,#a2761c 0%, #765432 80%);
  color: black;
Border-radius: 15px;  */

  display: flex;
  justify-content: space-between;
  font-size: 1.9em;
  font-family: "BrandFont";
  font-style: normal;
  letter-spacing: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.5rem;
}

#brand {
  padding-left: 0.5rem;
}

#board {
  list-style-type: none;
  display: flex;
}

#board li {
  padding: 1rem;
}

#imgHeader {
  display: flex;
  align-items: flex-end;
  font-style: normal;
  font-size: 1.9em;
  letter-spacing: 0.2em;
  background-image: url(../img/pexels-elevate-1267320.jpg);
  height: 65vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
}

h1 {
  font-weight: 100;
}

#about{
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}



.card{
    width: 49%;
    padding-top: 5vh;
}

#about h2{
    text-align: center;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}
#about h3{
    text-align: center;
    font-size: 1.2rem;
}

#about p{
    text-align: justify;
    font-size: 1rem;
}

#our{
    width: 65%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.menu{
    width: 49%;
    justify-content: center;
    align-items: center;
    padding: 5vh;
}

#our h4{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    letter-spacing: 0.4rem;
}

#our h3{
    font-size: 2rem;
    text-align: center;
}

#our p{
    margin-bottom: 3rem;
}

.trait{
  display: flex;
  border: 0.1vh black solid;
  height: 0.1vh;
  width: 100vh;
  justify-content: center;
}

#contact h4{
  font-size: 1.5rem;
  color: grey;
}

#contact h3{
  font-size: 4rem;
  margin-left: 10rem;
}

#contact p{
  margin-left: 10rem;
}

#adress{
  margin: 1rem 1rem 1rem 10rem;
  font-size: 2rem;
  font-weight: 600;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15rem;
}

input{
  border: none;
  border-bottom: 0.2vh grey solid;
  width: 75%;
  padding: 0.5rem;
  margin: 0.7rem;
}

#input{
  display: flex;
  align-items: center;
}

#contact div{
  margin-left: 0.5rem;
}

#send{
  transition: 0.2s;
  border: none;
  margin-right: 0;
}

#send:hover{
  transition: 0.2s;
  background-color: black;
  color: white;
}